<!DOCTYPE html>
<html>
  <head>
    <title>Sistem Informasi Aktivasi Presenter LP3I</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SIAP LP3I</h1>
    <p>Welcome to end point API Sistem Informasi Aktivitas Presenter LP3I</p>
    <ul>
      <li><a href="/user">Users</a></li>
      <li><a href="/applicant">Applicant</a></li>
      <li><a href="/school">School</a></li>
      <li><a href="/profession">Profession</a></li>
      <li><a href="/socialmedia">Social Media</a></li>
    </ul>
  </body>
</html>
